@media (max-width: 35rem) {
    header{
        width: 100%;
        justify-content: space-between;
        /* padding-left: 1.5rem; */
        /* padding-right: 1.5rem; */
        padding: 1.5rem;
    }
    .logo{
        max-height: 4rem;
    }
    .hero-image{
        height: 100vh;
        width: 100%;
        background-image: url("../assets/camion-gris-miles-mobile.png");
        /* background-position: center center; */
    }
    .hero-content{
        width: 80%;
        top:20%;
    }
    .hero-title2{
        padding-bottom: 0.5rem;
    }
    .btn-primary-wh{
    top:85%;
    left: 25%;
    margin: 0;
    }

    .hero-content h1, 
    .title-box .services-title{ 
        font-size: 120%;
    }
    .about-miles{
        padding: 2rem;
    }
    .service{
        flex-direction: column-reverse;
        margin:0;
        margin-top: -0.4rem;
    }
    .nav-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 3rem;
    color: var(--blanco);
}
.nav{
    flex-wrap: wrap;
} 
/* me quede aqui/ hacer que ocupe toda la pantalla */
    .nav-open {
        display: flex;
        background-color: var(--azul-oscuro);
        justify-content: right;
        align-items: left;
        width: 100%;
        /* height: 100%; */
        z-index: 1;

    }

.hero-content .hero-text, .about-miles h2, .about-miles .about-text,
    .nosotros .nosotros-text, .card h3, .clientes .texto_carrusel
{
    font-size: 100%;
}
.num-tel{
    display: none;
}
.llamar{
    display: block;
    width: 30%;
    /* margin-top: 1rem; */
}
    .about{
        flex-direction: column;
        height: 100%;
    }
    .about-miles{
        width: 100%;
    }
    .about-image, .camiones-miles{
        height: 100%;
        width: 100%;
        margin: 0;
    }
    .cards {
        grid-template-columns: 1fr;
    }
    .lista-servicios{
        margin: 2rem;
        padding: 0.5rem 0 0.5rem 0    }
    .lista-servicios li, .title-box .parrafo, .texto_carrusel, .card .p-nosotros{
        font-size: 80%;
    }
    .btn {
        padding: 0.4rem 0.8rem;
        font-size: 0.9rem;
    }
    .cards {
        grid-template-columns: 1fr;
        margin: 0;
    }
    .card{
        min-width:100%;
        padding: 1rem
    }
    .amarillo{
    top:6%;
    left: 34%;

}
    .carrusel{
     padding: 1rem;
    }
    .card-carrusel{
        width: 90%;
        margin: 0.5rem;
    }
    .background-solicitar-cotizacion{
      height: 68rem;
    }
    .cotizacion-contactos{
        width: 100%;
    }
    .cotizacion-contactos h2{
        text-align: center;
    }

    .solicitar-cotizacion{
        flex-direction: column;
        width: 100%;
        border-radius: 0;
        margin: 0.5rem;
        height: 68rem;
        margin: 0;
        padding: 0.5rem;
    }
    .formulario-c{
        width: 100%;
    }
    .formulario h2{
        padding-top: 2rem;
        text-align: center;
    }
    .formulario-c label{
        padding-top: 0.5rem;
    }
    iframe{
        margin-left: 0;
    }
    .desktop-frame{
        display: none;
    }
    .mobile-frame{
    display: block;
}
.btn-form{
    margin-top: 2.5rem;
    width: 10rem;
}
    .img-cot{
        bottom: -2%;
    }
    .contact{
        /* flex-direction: column; */
    }
    .logo-contacto{
        width: 80%;
    }
    
}